div(class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow")
  img(src="https://cdn.glitch.com/a766be66-dd8a-4fa9-adb0-382568f98cae%2Ffacile_logo.png" height="40")