script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.js")
script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/@ping-identity/pf-authn-js-widget@1.5.0/dist/pf.authn-widget.min.js")
script(type="text/javascript" src="/widget/fingerprint2-2.1.4.min.js")
script(type="text/javascript" src="/widget/pingone-risk-management-profiling.js")
script(type="text/javascript" src="/widget/redirectless.js")